
*.onnx
*node_modules*
yarn.lock
*pycache*
*data*
*.pth
*.npy
*.npz
*backend/*.jpeg
*backend/*.tif
*azure/
*dist*
*functions*
*vscode*
*azure*
*.venv*
*backend/test_resources/weka_default*
*backend/test_resources/output*
*backend/test_resources/test_outputs/*.png
*.env*
samba_logo/*
backend/17*
scripts/*